<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="http://www.cesltd.com/images/CES-Logo.png" height="35" class="d-inline-block" alt="">{{panel}} Panel
  </a>
  <div class="notify">
    <i class="fa fa-bell" aria-hidden="true"></i><span class="badge badge-light">4</span>
  </div>
  <h6 class='ces-prof-name lead'> {{ user.name }}</h6>
  <div ngbDropdown class="d-inline-block float-right">
    <img src="{{ user.photoUrl }}" id="dropdownBasic1" ngbDropdownToggle class="prof-pic" alt="Responsive image">
    <div class="logout-list" ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>